{% set remark = config.extra.remark %}
{% if page and page.meta and page.meta.remark is string %}
    {% set remark = page.meta.remark %}
{% endif %}
{% if not page.is_homepage and remark %}
    <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
    <div id="remark42"></div>
    <script>
        var remark_config = {
          host: "https://comments.flipperzero.one",
          site_id: '{{ remark }}',
          components: ['embed'],
          max_shown_comments: 20,
          locale: '{{ config.theme.language }}',
          show_email_subscription: false
        };
      
        (function(c) {
          for(var i = 0; i < c.length; i++){
            var d = document, s = d.createElement('script');
            s.src = remark_config.host + '/web/' +c[i] +'.js';
            s.defer = true;
            (d.head || d.body).appendChild(s);
          }
        })(remark_config.components || ['embed']);
    </script>
{% endif %}