{% extends "base.html" %}

{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = page.title | striptags %}
  {% endif %}
  <meta property="og:title" content="{{ title }}">

  {% if page and page.meta and page.meta.description %}
    {% set description = page.meta.description %}
  {% elif page and page.meta and page.meta.smart_description %}
    {% set description = page.meta.smart_description %}
  {% endif %}
  {% if description %}
    <meta property="og:description" content="{{ description }}" />
  {% endif %}

  {% if page and page.meta and page.meta.image %}
    {% set image = page.meta.image %}
  {% elif page and page.meta and page.meta.smart_image %}
    {% set image = page.meta.smart_image %}
  {% endif %}
  {% if image %}
    <meta property="og:image" content="{{ image }}" />
  {% endif %}
  
<meta property="og:site_name" content="{{ config.site_name }}">
<meta property="og:url" content="{{ page.canonical_url }}">
<meta property="og:type" content="article">
<script defer data-domain="docs.flipperzero.one" src="https://analytics.flipperdevices.com/js/plausible.js"></script>
{% endblock %}