docs_dir: content
repo_url: https://github.com/Flipper-Zero/docs
repo_name: flipper-zero/docs

extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://flipperzero.one/discord
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/flipper_zero
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCfKVWB_pOfsY-HQ2siMBn6g
    - icon: fontawesome/brands/facebook
      link: https://facebook.com/flipperzero
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/flipper_zero
  alternate:
    - name: English
      link: /en/
      lang: en
    - name: Русский
      link: /ru/
      lang: ru

extra_javascript:
  - javascripts/extra.js

copyright: Copyright &copy; 2021 Flipper Devices Inc.

markdown_extensions:
  - toc:
      permalink: true
  - abbr
  - admonition
  - attr_list
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/icons
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed

plugins:
  - search
  - git-revision-date-localized
  - macros

theme:
  name: material
  custom_dir: overrides
  palette:
    primary: deep orange
  logo: assets/logo.svg
  favicon: assets/favicon.png
  icon:
    logo: material/library
    repo: fontawesome/brands/github-alt
    translate: material/web
  features:
    - navigation.tabs
    - navigation.sections